<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID Card</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="id-card-holder">
          <div class="id-card id-bg1">
      
            <div class="photo">
              <img src={{data?.photoUrl}}>
            </div>
            <h2>
              {{data?.memberName}}
            </h2>
            <h3>
              {{data?.designation}}
            </h3>
            <div class="footer">
              <h3>
                Unique Id - {{data?.uniqueId}}
              </h3>
            </div>
          </div>
        </div>
      
        <div class="id-card-holder">
          <div class="id-card id-bg2">
            <table class="details">
              <tbody>
                <tr>
                  <td>पुत्र/पुत्री/पत्नी - </td>
                  <td><strong>{{data?.fatherName}}</strong> </td>
                </tr>
                <tr>
                  <td>पता- </td>
                  <td><strong>{{data?.address}}</strong></td>
                </tr>
                <tr>
                  <td>फ़ोन नं - </td>
                  <td><strong>{{data?.phoneNum}}</strong></td>
                </tr>
                <tr>
                  <td>आधार नं - </td>
                  <td><strong>{{data?.aadharNum}}</strong></td>
                </tr>
                <tr>
                  <td>वैधता- </td>
                  <td><strong>{{data?.validity}}</strong></td>
                </tr>
      
              </tbody>
            </table>
            <div class="instruction">
              <h3>अनुदेश:-</h3>
              <!-- <p>- इस कार्ड का उपयोग अवैध और हिंदू विरोधी गतिविधियों में नहीं किया जा सकता है |</p> -->
              <p>- यह प्रयास फाउंडेशन का आईडी कार्ड है। इसका उपयोग सरकारी दस्तावेज़ों में नहीं किया जा सकता</p>
              <p>- आपका यह पद केवल अगले आदेश तक वैध रहेगा</p>
              <p>- पत्रक का दुरुपयोग करने पर, अपराधिक कार्यों में लिप्त होने पर, असामाजिक कार्य करने पर, नशे के व्यापार में
                लिप्त पाये जाने पर, संस्था के विरुद्ध क्रियाकलाप में पाये जाने पर बिना पूर्व सूचना के सदस्यता समाप्त कर दी
                जाएगी</p>
              <h2>प्रयास जन कल्याण फाउंडेशन</h2>
            </div>
            <div class="footer">
              <p><strong> ग्राम - दारसागर, तहसील - कोतमा, जिला - अनुपपुर</strong></p>
              <p><strong>मध्य प्रदेश &nbsp;Ph: 9406770466, 8719037509</strong></p>
              <p>Reg. 05/48/02/15007/19</p>
            </div>
          </div>
        </div>
      </div>
      
</body>

</html>