.container{
    background-color: transparent;
    font-family: 'verdana';
    margin-top:50px;
    margin-bottom:100px;
    display:flex;
    flex-flow:column;
  }
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .item {
      flex: 1;
    }
  }
  
  /* Media query for desktops (1024px and above) */
  
  @media (min-width: 1024px) {
    .container {
      justify-content: center;
    }
  }
  @font-face {
    font-family: 'Arya Regular';
    src: url('../fonts/Arya-Regular.ttf') format('truetype');
    font-display: swap;
  }
  .id-card-holder {
    width: 325px;
    padding: 4px;
    margin: 5px auto;
    border-radius: 5px;
    position: relative;
    overflow:hidden;
    background-color:black;
    z-index:2
  }
  
  .id-card {
    height:500px;
    min-width:317px;
    padding: 0px;
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 1.5px 0px #b9b9b9;
  }
  .id-bg1{
    background-image : url('../1.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .id-bg2{
    background-image : url('../2.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .id-card img {
    /* background-color: #fac381; */
    margin: 0 auto;
  }
  
  .header {
    margin: 5px;
    margin-bottom: 10px;
    display:flex;
    flex-flow:row wrap;
  }
  
  .header img {
    width: 75px;
    /* margin-top: 15px; */
  }
  
  .header h1 {
    width: 240px;
    font-family: 'Arya Regular';
    margin:-10px;
  }
  .header h3 {
    width: 240px;
    color: #a11a00;
    font-family: 'Arya Regular';
    font-weight:600;
  }
  
  
  .photo {
    /* background-color:#f7d0ad; */
    border: 5px;
    min-height:130px;
    margin-top: 100px;
    display:flex;
    justify-content:center;
    align-items:center;
  
  }
  
  .photo img {
    width: 200px;
    height:200px;
    margin: 5px;
    border-radius:50%;
  }
  
  h1 {
    font-size: 30px;
    margin: 5px 0;
    color: #a11a00;
  }
  
  h2 {
    font-size: 25px;
    margin: 5px 0;
    color: #a11a00;
    font-family: 'Arya Regular';
  }
  
  h3 {
    font-size: 20px;
    margin: 2.5px 0;
    font-weight: 300;
  }
  .footer {
    position:absolute;
    bottom:0px;
    /* background-color:#f7d0ad7b; */
    padding: 5px;
    width:100%;
    /* margin: 0 auto; */
    margin: 0px 3px 3px 0px;
    max-height: 60px;

  }
  .footer p{
    text-align:center;
    margin:0;
  }
  
  .details {
    text-align: left;
    padding-left: 3px;
    margin: 5px;
    margin-bottom:1px;
    max-height: 160px;
    overflow:hidden;
  }
  .details table tr{
    display:flex;
    overflow:hidden;
  }
  
  .instruction{
    margin:10px;
    margin-top:0px;
    padding-top:0px;
    max-height: 270px;
    overflow:hidden;
  }
  .instruction h3{
    font-family:'Arya Regular';
    font-size:20px;
    text-align:center;
    color: black;
  }
  .instruction h2{
    font-family:'Arya Regular';
    text-align:center;
    color: #a11a00;
  }
  .instruction, p{
    font-family: 'Arya Regular';
    font-size:15px;
    text-align:left;
    font-weight:500;
    margin:3px;
  
  }
  
  